ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  height: 400px;
}

li {
  list-style: none;
  flex-grow: 1;
  width: 300px;
  margin: 0 10px 10px;
}

form {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
}
