<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>News API viewer</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body>
  <form method="get">
    <input name="q" />
    <input type="submit" value="Search">
  </form>
  <ul>
     {{#each articles}}
    <li>
      <a href={{this.url}}>
        <div class="img-wrapper">
          <img src="{{this.urlToImage}}" />
        </div>
        <div class="content-wrapper">
          <time datetime="{{this.publishedAt}}">{{formatDate this.publishedAt}}</time>
          <h2>{{this.title}}</h2>
          <p>{{this.description}}</p>
        </div>
      </a>
    </li>
    {{/each}}
  </ul>
</body>

</html>